# Variáveis utilizadas para conexão com o Mongo DB
MONGO_USERNAME=YOUR_USERNAME
MONGO_PASSWORD=YOUR_PASSWORD
MONGO_CLUSTER_NAME=YOUR_CLUSTER_NAME
MONGO_DATABASE_NAME=YOUR_DATABASE_NAME

# Variáveis utilizadas para conexão com firebase
FB_APIKEY=YOUR_FB_APIKEY
FB_AUTHDOMAIN=YOUR_FB_AUTHDOMAIN
FB_PROJECTID=YOUR_FB_PROJECTID
FB_STORAGEBUCKET=YOUR_FB_STORAGEBUCKET
FB_MESSAGINGSENDERID=YOUR_FB_MESSAGINGSENDERID
FB_APPID=YOUR_FB_APPID
FB_MEASUREMENTID=YOUR_FB_MEASUREMENTID

# Variáveis utilizadas para o MQTT
MQTT_HOST_NAME=YOUR_MQTT_HOST_NAME
MQTT_USER_NAME=YOUR_MQTT_USER_NAME
MQTT_PASSWORD=YOUR_MQTT_PASSWORD

# Outras configurações
JWT_SECRET=YOUR_JWT_SECRET
PORT=YOUR_PORT